@import "reset.css";

div.container {
    box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

header {
    box-sizing: border-box;
    background-color: #080808;
    height: 112px;
    padding: 24px;
}

header a#logo {
    display: block;
    float: left;
}

header form {
    width: 660px;
    height: 48px;
    float: left;
    margin-left: 100px;
    padding-top: 8px;
}

header form > input {
    box-sizing: border-box;
    width: 660px;
    height: 48px;
    background-color: #1D1E20;
    color: #636567;
    font-size: 16px;
    border: none;
    padding: 0 72px 0 20px;
}

header form > input:focus {
    color: #fff;
}

header form > button {
    height: 32px;
    width: 32px;
    background-color: #1D1E20;
    background-image: url("../img/search.png");
    position: relative;
    top: -40px;
    right: -608px;
}

header a.header_links {
    display: block;
    float: right;
    box-sizing: border-box;
    height: 32px;
    width: 32px;
    margin: 16px 0 0 40px;

}

header a#header_user {
    background-image: url("../img/user.png");
}

header a#header_cart {
    background-image: url("../img/cart.png");
}

main div#top_background {
    background: url("../img/back.jpg") left center no-repeat;
    background-size: cover;
    padding: 64px 0;
}

main h1 {
    font-size: 72px;
    color: #f4f4f4;
    line-height: 80px;
    width: 50%;
}

main > div#top_background p {
    font-size: 20px;
    color: #f4f4f4;
    line-height: 24px;
    width: 50%;
    margin-top: 24px;
}

main h2 {
    margin: 24px 0;
    font-size: 56px;
    color: #080808;
}

main p#services_text {
    margin-bottom: 24px;
    font-size: 16px;
    color: #080808;
}

main ul > li {
    overflow: hidden;
    margin-bottom: 24px;
}

main ul > li img {
    float: left;
}

main ul > li div {
    float: left;
    margin-left: 24px;
}

main ul > li h3 {
    font-size: 24px;
    color: #080808;
    margin-top: 48px;
}

main ul > li p {
    margin-top: 24px;
    font-size: 16px;
    color: #080808;
}

footer hr {
    background: #1E1E1E;
    height: 1px;
}

footer {
    background: #080808;
}

footer div#contacts {
    text-align: center;
    padding: 24px 0;

}

footer div#copy {
    overflow: hidden;
    padding: 24px 0;
}

footer div#contacts span {
    color: #A4C8FF;
    font-size: 16px;

}

footer div#contacts a {
    color: #f4f4f4;
    font-size: 16px;
    margin-left: 40px;
}

footer div#copy span {
    color: #f4f4f4;
    font-size: 16px
    display: block;
    float: left;
}

footer div#copy p {
    color: #D0D9DF;
    font-size: 16px;
    display: block;
    float: right;
}